@import "reset.css";
@import "variables.css";
@import "components/styles-components.css";
@import "mquerys/importsmquerys.css";
* {
  box-sizing: border-box;
}

body {
  background-image: url("img/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
