@import "reset.css";
@import "variables.css";
@import "components/nav.css";
@import "components/topventas.css";
@import "components/cartas.css";
@import "components/header.css";
@import "components/footer.css";
@import "components/section.css";
@import "components/grid.css";

