:root {
  --button1-width: 50%;
  --button1-heigth: 7vh;
  --memberTitle-fontsize: 3vw;
  --memberTitle-font-family: sans-serif;
  --button1-background: #eec281;
  --button1-box-shadow: 15px 15px 10px rgb(0 0 0 / 55%);
  --button1-backdrop-filter: blur(14px);
  --button1-border-radius: 25px;
}
