.footer {
  font-family: impact;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerButton {
  display: contents;
  position: relative;
}

.playButtonIcon {
  width: 5vw;
  position: relative;
}

.playButtonIcon:hover {
  filter: invert(20%) sepia(100%) saturate(4000%);
  width: 6vw;
  cursor: pointer;
}

.footerTitle {
  margin-top: 5%;
}

.killedMembers .dead {
  background-color: rgba(240, 16, 16, 0.865);
}

.killedMembers {
  display: flex;
  align-items: center;
  justify-content: center;
}
