form {
  display: flex;
  background-color: orange;
  margin-top: 9%;
  padding: 0.5%;
  border-radius: 10px;
  width: 70%;
}

form input[type="text"] {
  font-size: 140%;
  flex-grow: 1;
  border-radius: 10px;
}
form button {
  background-color: Transparent;
  border: none;
  width: 50px;
}
form img {
  width: 130%;
}
