.header {
  font-family: impact;
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 3%;
}

.headerButton {
  display: contents;
}

.playAgainIcon {
  width: 5vw;
  position: absolute;
  margin-top: 7%;
}

.playAgainIcon:hover {
  filter: invert(20%) sepia(100%) saturate(4000%);
  width: 7vw;
  cursor: pointer;
}

@keyframes bloodDrop {
  from {
    top: -10%;
  }
  to {
    top: 12%;
  }
}
@keyframes bloodDrop1 {
  from {
    top: -45%;
    left: 5%;
  }
  to {
    top: 15%;
    left: 5%;
  }
}

@keyframes bloodDrop2 {
  from {
    top: -55%;
    left: -8%;
  }
  to {
    top: 16%;
    left: -8%;
  }
}

.bloodDropIcon {
  width: 3.5vh;
  position: relative;
  animation: bloodDrop;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: normal;
  animation-play-state: running;
}

.bloodDropIcon1 {
  width: 2vh;
  position: relative;
  animation: bloodDrop1;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: normal;
  animation-play-state: running;
}

.bloodDropIcon2 {
  width: 2vh;
  position: relative;
  animation: bloodDrop2;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: normal;
  animation-play-state: running;
}
