main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  background: var(--button1-background);
  width: var(--button1-width);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--button1-border-radius);
  box-shadow: var(--button1-box-shadow);
  backdrop-filter: var(--button1-backdrop-filter);
  padding: 2%;
  margin-top: 2%;
}

.iconsButton {
  width: 14%;
}

.memberTitle {
  font-size: var(--memberTitle-fontsize);
  font-family: var(--memberTitle-font-family);
}
