.button1 {
  background: var(--button1-background);
  width: var(--button1-width);
  height: var(--button1-heigth);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30%;
  box-shadow: var(--button1-box-shadow);
  backdrop-filter: var(--button1-backdrop-filter);
}

.iconsButton {
  margin-left: 10%;
  margin-right: 10%;
  width: 13%;
}

.memberTitle {
  font-size: var(--memberTitle-fontsize);
  font-family: var(--memberTitle-font-family);
}

.button {
  width: var(--button1-width);
  height: var(--button1-heigth);
  background: var(--button1-background);
  box-shadow: var(--button1-boxshadow);
  backdrop-filter: var(--button1-backdrop-filter);
  border-radius: var(--button1-border-radius);
}
