.button1 {
  width: 20%;
}

form {
  display: flex;
  background-color: orange;
  border-radius: 10%;
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

form input[type="text"] {
  flex-grow: 1;
  border-radius: 10%;
}
