@media (max-width: 500px) {
  /*FOOTER*/

  .footer {
    font-family: impact;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerButton {
    display: contents;
  }

  .playButtonIcon {
    width: 12vw;
    position: absolute;
    top: 81%;
  }

  .playButtonIcon:hover {
    filter: invert(20%) sepia(100%) saturate(4000%);
    width: 14vw;
    cursor: pointer;
  }
}
