@media (max-width: 500px) {
  /*FOOTER*/

  .footer {
    margin-bottom: 10%;
    font-family: impact;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerButton {
    display: contents;
  }

  .playButtonIcon {
    width: 10vw;
    position: absolute;
    top: 80%;
  }

  .playButtonIcon:hover {
    filter: invert(20%) sepia(100%) saturate(4000%);
    width: 4vw;
    cursor: pointer;
  }

  .footerTitle {
    margin-top: 10%;
  }
}
