@media (max-width: 500px) {

  /*BOTONES MEMBER*/
  .button1 {
    width: 80%;
    padding: 3%;
  }

  .iconsButton {
    width: 10%;
  }

  .memberTitle {
    font-size: 5vw;
    font-family: var(--memberTitle-font-family);
  }
}
