@media (max-width: 500px) {
  /*BOTONES MEMBER*/
  .button1 {
    width: 80%;
    padding: 3%;
  }

  .button1 .iconsButtonKill {
    width: 10%;
    opacity: 0;
  }

  .dead .iconsButtonKill {
    opacity: 1;
    width: 10%;
  }

  .iconsButtonTrash {
    width: 10%;
  }

  .memberTitle {
    font-size: 5vw;
    font-family: var(--memberTitle-font-family);
  }

  .dead {
    background: grey;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--button1-border-radius);
    box-shadow: var(--button1-box-shadow);
    backdrop-filter: var(--button1-backdrop-filter);
    padding: 3%;
    margin-top: 5%;
  }
}
